# CMake build
/build/
**/build/**
CMakeCache.txt
**/CMakeUserPresets.json
CMakeFiles/

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.sln

# Visual Studio Code
.vscode/

# Conan
conanbuildinfo.*
conan.lock
**/task2_http_profile

# OS specific
.DS_Store
Thumbs.db


.task2_http_profile